#join-icon {
  font-size: 150px;
}

#join-font {
  font-size: 30px;
  color: whitesmoke;
}

#cancel-icon {
  font-size: 150px;
  color: whitesmoke;
}

#cancel-font {
  font-size: 25px;
  color: whitesmoke;
}

.modal-content {
  background-color: #3aafaa;
  border-radius: 10px;
}

#cancel-modal-bg {
  background-color: #d64541;
}

#edit-modal-bg {
  background-color: #f4f4f4;
}

.modal-footer {
  border-top: none;
}
