<div class="container">
<%= simple_form_for [event, review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit "Edit review", class: "btn btn-primary" do %>
  <% end %>
<% end %>
</div>
